

h1{
    color: #1a2396;
    font-family: Verdana;
    font-weight: bolder;
}

h2{
    font-family: Verdana;
    font-size: 14px;
}

h3{
    font-family: Verdana;
    font-size: 14px;
    margin-bottom: 4px;
}

p{
    margin: 0px;
    width: 100%;
}

input, button {
    display: block;
    padding: 8px;
    width: 100%;
    margin-bottom: 8px;
    resize: none;
    }


form {
    margin-top: 40px;
}

button {
    background-color: #1a2396;
    color:#ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 18px;
    font-style: italic;
    cursor: pointer;
    margin: 16px;
    }

form button:hover {
    background-color: #ec1a1a;
    }

.mensagemErros {
    background-color:rgb(128, 0, 0) ;
    padding: 16px;
    color: white;
    margin-bottom: 4px;
    font-weight: 12px;
    display: none;
}

.mensagemPositiva {
    background-color:rgb(50, 134, 1) ;
    padding: 16px;
    color:white;
    margin-bottom: 4px;
    font-weight: 12px;
    display: none;
}